/* 共通 */
body {
  color: #333;
}

ul {
  list-style: none;
}

.container {
  width: 700px;
  margin: auto;
}

.input__area input {
  width: 250px;
  border-radius: 3px;
  border: 2px solid #666;
  padding: 7px;
}

.task__area {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.task__area--item {
  width: 340px;
  min-height: 200px;
  background-color: #f9f7f5;
  box-shadow: 0 0 10px 0 rgb(55 55 55 / 12%);
  border-radius: 5px;
}

.incomplete__area {
  border-top: 6px solid red;
}

.complete__area {
  border-top: 6px solid #10a4df;
}

.task__area--itemInner {
  padding:  0 15px;
}

.task__list {
  padding: 0px;
}

.task__list--item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.task__list--itemText {
  min-width: 50px;
  padding: 6px 8px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgb(55 55 55 / 12%);
}

.btn__area {
  margin-left: 7px;
}

button {
  margin: 0 5px;
  padding: 4px 6px;
  border-radius: 4px;
  letter-spacing: 0.1em;
  box-shadow: 0 0 10px 0 rgb(55 55 55 / 12%);
  background-color: gainsboro;
  border: none;
  color: #333;
}